.wrapper {
    --border-search-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-bottom-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Action
.action {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    background-color: transparent;
    color: #161823;
    cursor: pointer;
    font-size: 2.2rem;
    padding: 4px 10px;
}

// Num notification

.num-noti {
    position: absolute;
    height: 2rem;
    top: -3px;
    right: 0px;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 0px 6px;
    border-radius: 10px;
    font-family: 'IBM Plex Sans', 'san-serif';
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}